body{
    font-family: Arial, sans-serif;
    background-color: rgb(230, 230, 230);
}

h1{
    color: rgb(101, 155, 255);
}

form{
    text-align: center;
    max-width: 350px;
    margin: auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.295);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.788);
    border-radius: 5px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: red;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: rgba(255, 0, 0, 0.8);
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}